---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/761053?api_key=<DONT_EXPOSE_DATA>&append_to_response=reviews,credits,similar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - '0877582f46c0de061a03e2d907c74555bff7e218'
      X-Memc-Age:
      - '21449'
      X-Memc-Expires:
      - '151'
      Etag:
      - W/"5bbf503695eb68b22e0009778680aea0"
      Last-Modified:
      - Thu, 10 Dec 2020 00:09:33 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg","belongs_to_collection":{"id":729322,"name":"Gabriel''s
        Inferno Collection","poster_path":"/LdSn17U6ybhtPJT3S6fTNRni5Y.jpg","backdrop_path":"/hXF55codODfnzTZDExbUbfFmA9y.jpg"},"budget":0,"genres":[],"homepage":"","id":761053,"imdb_id":null,"original_language":"en","original_title":"Gabriel''s
        Inferno Part III","overview":"The final part of the film adaption of the erotic
        romance novel Gabriel''s Inferno written by an anonymous Canadian author under
        the pen name Sylvain Reynard.","popularity":39.347,"poster_path":"/fYtHxTxlhzD4QWfEbrC1rypysSD.jpg","production_companies":[{"id":92153,"logo_path":"/psjvYkjjgAPtS8utnFYDM8t8yi7.png","name":"PassionFlix","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2020-11-19","revenue":0,"runtime":0,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Gabriel''s
        Inferno Part III","video":false,"vote_average":9.2,"vote_count":470,"reviews":{"page":1,"results":[],"total_pages":0,"total_results":0},"credits":{"cast":[],"crew":[]},"similar":{"page":1,"results":[],"total_pages":1,"total_results":0}}'
  recorded_at: Thu, 10 Dec 2020 00:09:33 GMT
recorded_with: VCR 6.0.0
