---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/715235?api_key=<DONT_EXPOSE_DATA>&append_to_response=reviews,credits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 5b64c1c93b9f50cfd3c4616abbff1e2d1725b7b9
      X-Memc-Age:
      - '7473'
      X-Memc-Expires:
      - '14127'
      Etag:
      - W/"c396afb308b6e232d1daf18c15dd7d42"
      Last-Modified:
      - Wed, 09 Dec 2020 21:38:34 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":27,"name":"Horror"}],"homepage":"","id":715235,"imdb_id":"tt11093922","original_language":"en","original_title":"Rising","overview":"Rising
        is a horror short film directed by Dylan Doornbos Hayes, starring Jackson
        Robert Scott and Molly Gordon.","popularity":15.943,"poster_path":null,"production_companies":[{"id":135587,"logo_path":null,"name":"529
        Entertainment","origin_country":""},{"id":135588,"logo_path":null,"name":"Oh
        Rats Films","origin_country":""}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2020-12-31","revenue":0,"runtime":0,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Post
        Production","tagline":"","title":"Rising","video":false,"vote_average":0.0,"vote_count":0,"reviews":{"page":1,"results":[],"total_pages":0,"total_results":0},"credits":{"cast":[{"adult":false,"gender":2,"id":1649803,"known_for_department":"Acting","name":"Jackson
        Robert Scott","original_name":"Jackson Robert Scott","popularity":3.623,"profile_path":"/9dop1KcQlXmsvswKzz08F1C5kYe.jpg","cast_id":1,"character":"Luke","credit_id":"5ee4caea0cb335001fbc4b16","order":1},{"adult":false,"gender":1,"id":1782117,"known_for_department":"Acting","name":"Molly
        Gordon","original_name":"Molly Gordon","popularity":3.473,"profile_path":"/9aetjZLHPK1U9k1fI3svTZYytRL.jpg","cast_id":2,"character":"Michelle","credit_id":"5ee4caf6cb71b8001cb41922","order":2}],"crew":[{"adult":false,"gender":2,"id":995462,"known_for_department":"Editing","name":"Gregory
        Plotkin","original_name":"Gregory Plotkin","popularity":0.6,"profile_path":"/sUGMMdWoLobZE4DuaXhLTOPVkby.jpg","credit_id":"5ee4cc48a217c0001fd0e8d8","department":"Editing","job":"Editor"},{"adult":false,"gender":2,"id":1543469,"known_for_department":"Production","name":"Chris
        Grillot","original_name":"Chris Grillot","popularity":0.6,"profile_path":null,"credit_id":"5ee4cb6f0cb3350021bc14f4","department":"Writing","job":"Writer"},{"adult":false,"gender":2,"id":1764255,"known_for_department":"Acting","name":"Dylan
        Doornbos Hayes","original_name":"Dylan Doornbos Hayes","popularity":0.6,"profile_path":null,"credit_id":"5ef9ce76cffeed0038046f35","department":[...]
